{% extends "Aberturas/index.html" %}

{% block title %}
Aberturas de PVC
{% endblock %}
{% block image %}
<body class"cuerpo" style="background-image:url(https://infonegocios.info/content/images/2022/07/21/129743/conversions/Italplast-fabrica-aberturas-PVC-2-medium-size.jpg)">
</body>
{% endblock %}



{% block content %}
        <h1 class ="uno">Nuestros Trabajos en PVC</h1>

        

      


        <h2>Estos son las obras que hemos hecho hasta ahora</h2>
    
            {% for PVC in PVC %}
            <div class="card" style="width: 18rem;">
                <img src={{PVC.imagen.url}} class="card-img-top" alt={{PVC.title}}>
                <div class="card-body">
                  <h5 class="card-title">{{PVC.title}}</h5>
                  <p class="card-text">{{PVC.description}}</p>
              </div>
     
            {% endfor %}
  


{% endblock %}
        
        
        



    
